@page
@model DemoApp.Pages.InfoModel
@{
    ViewData["Title"] = "Information page";
}

<div class="text-center">
    <div class="">
        Name: @Model.Name
    </div>
    <div class="">
        Host name: @Model.HostName
    </div>
</div>